html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
:root {
    --app-header-h: 60px;
}
.mobile-overlay-below-header {
    top: var(--app-header-h) !important;
    height: calc(100% - var(--app-header-h)) !important;
}

.mobile-panel-below-header {
    top: var(--app-header-h) !important;
    height: calc(100% - var(--app-header-h)) !important;
}
.mobile-drawer-body {
    padding: 0 !important;
}
.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
}
.avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
    font-size: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* 兼容 wang editor Element Plus 黑暗模式适配 */
.dark {
    .w-e-text-container,
    .w-e-toolbar {
        background-color: #1d1e1f !important; /* 调整为适合的深色背景 */
        color: #cfd3dc !important; /* 调整为适合的浅色文字 */
        border-color: #4c4d4f !important; /* 调整为适合的边框颜色 */
    }

    .w-e-toolbar .w-e-menu,
    .w-e-toolbar .w-e-menu-split {
        color: #cfd3dc !important;
    }

    /* 编辑内容区域 */
    .w-e-text-container p,
    .w-e-text-container h1,
    .w-e-text-container h2 {
        color: #cfd3dc !important;
    }
}