html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
:root {
    --app-header-h: 60px;
}
.mobile-overlay-below-header {
    top: var(--app-header-h) !important;
    height: calc(100% - var(--app-header-h)) !important;
}

.mobile-panel-below-header {
    top: var(--app-header-h) !important;
    height: calc(100% - var(--app-header-h)) !important;
}
.mobile-drawer-body {
    padding: 0 !important;
}